.header{
    background-color: var(--color-nav);
    padding: 10px 0;
}
.header .search-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.search{
    display: flex;
}
.search input{
    width: 55vw;
    outline: none;
    border: none;
    padding: 10px 0;
}
.search input::placeholder{
    font-size: 18px;
    color: var(--color-second-text);
    padding: 0 10px;
}
.search button{
    padding: 10px;
    background-color: var( --color-background);
}
.search button i{
    color: var(--color-second-text);
}